<div class="text-layout">
    <h1>DecimalPipe y Porcentaje</h1>
    <p>
        Pipes incluídos en Angular - Usualmente en el "CommonModule"
    </p>
</div>

<div class="grid">
    <div class="col-4">
        <p-card header="Ventas netas"
                subheader="del presente año">
            <i class="pi pi-dollar"></i>
            <!-- 1 para indicar que muestre toda la parte entera. 2-2 para que muestre siempre 2 decimales (2-4 mostraría de 2 a 4 decimales, según lo que tenga el nro) -->
            {{ (ventasNetas + 1000000) | number:'1.2-2' }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Ventas brutas"
                subheader="del presente año">
            <!-- BRL: real brasilero, y le agrego el simbolo correspondiente -->
            {{ (ventasNetas + 3000000) | currency:'BRL':'symbol-narrow':'1.0-4' }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card header="Ganancia porcentual"
                subheader="del presente año">
            <!-- 2 números de la parte entera, y 2 decimales -->
            {{ porcentaje | percent:'2.2-2' }}
        </p-card>
    </div>
</div>