<!-- <div class="text-layout">
  <h1>{{ nombre | uppercase }}</h1>
  <h2>{{ valor | number }}</h2>
  <h3>{{ objeto | json }}</h3>
</div>

<button pButton (click)="mostrarNombre()"
        class="p-button-help"
        label="Imprimir nombre"
        icon="pi pi-bell"
        iconPos="right"></button>

<br><br> -->
<!-- Los corchetes le definen a Angular que tome el valor de la variable que le paso (en este caso el valor de "nombre")
Si no colocaría los corchetes, directamente se mostraraía el string "nombre" (y no su valor) -->
<!-- <p-card [header]="nombre | titlecase"
        subheader="Esto es un subheader">
  El contenido...
</p-card> -->

<!-- A TENER EN CUENTA SI DESCOMENTO LO ANTERIOR!
Para que funcione lo anterior debería importar "PrimeNgModule" en app.module.ts -->

<app-menu></app-menu>

<router-outlet></router-outlet>
